<%- include('./fragments/header.ejs') %>
    <main>
        <h2><%= __('main-page.content') %></h2>
        <!-- dalsza część strony -->
        <p><%= __('main-page.quote') %></p>
        </main>

<%- include('./fragments/footer.ejs') %>